footer {
    padding-top: 40px;
    background-color: #AD875D;
    .footer-wrapper {
        color: white;
        .footer-htwoods {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .footer-htwoods__showroom {
                display: flex;
                gap: 12px;
            }
            .footer-htwoods__phone {
                display: flex;
                gap: 12px;
            }
            .footer-htwoods__mail {
                display: flex;
                gap: 12px;
            }
        }
        .footer-services {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .footer-support {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .footer-content {
            padding-bottom: 112px;
            display: flex;
            gap: 126px;
        }
        .footer-bottom {
            display: flex;
            justify-content: center;
            gap: 24px;
                .footer-bottom__location {
                    display: flex;
                    gap: 12px;
                }
                .footer-bottom__copyright {
                    white-space: nowrap;
                    display: flex;
                    gap: 12px;
                }

        }
        
        
    }
    
    
}
.footer-social{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-social__icons{
    display: flex;
    gap: 24px;
}
.footer-bottom{
    padding-bottom: 20px;
}