.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    .navigation {
        display: flex;
        gap: 24px;
        > li {
            padding: 12px 16px;
            > a {
                color: black;
            }
            &:hover {
                > a {
                    color: #FCB900;
                }
            }
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        gap: 6px;
        .accout {
            display: flex;
            gap: 12px;
        }
        gap: 18px;
    }
}

.header {
    background-color: #fefefe;
}
.accout{
    text-align: center;
}