.section-background {
    
    color: white;
    background-image: url(/img/background.png);
    background: url(/img/background.png) lightgray 50% / cover no-repeat, #D9D9D9;
}
.section-background__button {
    color: white;
    display: flex;
    width: 240px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background: var(--Foundation-Primary-primary-500, #996935);
}
.youraccount-right__png{
    padding-top: 8px;
    color: var(--Foundation-Grey-grey-500, #8A929E);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */

/* Regular (400)/Text sm */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
.youraccount-left__button2{
    font-weight: bold;
    border: 1px solid #996935;
    color: #996935;
    display: flex;
    width: 450px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background-color: white;
}
.youraccount-left__button1 {
    margin: 16px 0px;
    border: 1px solid #996935;
    color: white;
    display: flex;
    width: 450px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background: var(--Foundation-Primary-primary-500, #996935);
}

.section-background__group {
    transform: translateX(50%);
    padding: 260px 0 260px 0;
    .section-background__discription {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */
        padding-bottom: 16px;
    }
    .section-background__title {
        width: 690px;
        color: #FFF;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 90px */
        text-transform: uppercase;
        padding-bottom: 30px;
    }
}
.section-hot {
    // display: flex;
    padding-top: 60px;
}
.section-hot__image{
    display: flex;
    flex-wrap: wrap;
}
.section-index {
    padding-top: 60px;
}
.section-index__title {
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .section-index__buttons {
        display: flex;
        gap: 30px;
    }
}
.section-index__img {
    padding-bottom: 60px;
    display: flex;
    gap: 30px;
}

.section-aboutus {
    height: 600px;
    background-image: url(/img/image\ 44.png);
}

.product-box__button{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.section-discription__title {
    border-bottom: 1px solid #996935;
    padding-top: 76px;
    padding-bottom: 16px;
}
.section-discription__button {
    border-color: #996935;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    color: #996935;
    display: flex;
    width: 240px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
background: var(--Foundation-Primary-primary-500, white);
}

.section-box__discription{
  color: #8A929E;
}
.section-aboutus__discription {
    transform: translate(25%, 25%);
    flex-direction: column;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 930px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--foundation-black-white-white, #FEFEFE);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
}
.section-hot__img {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .section-hot__title {
    padding-bottom: 30px;
    text-align: center;
  }
  .section-news {
    align-items: center;
    display: flex;
    flex-direction: column;    
    padding-top: 60px;
    padding-bottom: 60px;
  }
.section-news__discription {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}
.section-box__title {
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.section-news__title  {
    padding-bottom: 30px;
}

.product-menu {
    display: flex;
    gap: 12px;
}
.section-product__menu {
    display: flex;
    gap: 12px;
}
.product-box__title {
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #C9CDD2;
}
.product-box__left{
    min-width: 350px;
}
.product-box {
    // display: flex;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}
.product-box__select {
    // margin-top: 16px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.product-box__check {
    display: flex;
    gap: 16px;
    padding-right: 150px;
}

.tableandchair-flex {
    display: flex;
    gap: 30px;
}
.tableandchair-right__code {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.tableandchair-right__img {
    padding-bottom: 30px;
}
.right-properties__title {
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.right-properties__buttons{
    color: white;
    display: flex;
    width: 240px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
        border-radius: 100px;
    border: 1px solid var(--Foundation-Primary-primary-500, #996935);
    background: var(--Foundation-Primary-primary-400, #AD875D);
}
.right-properties__flex{
    display: flex;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 30px;
}
.tableandchair-detail__title{
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}
.tableandchair-left__small {
    padding-top: 30px;
    display: flex;
    gap: 25px;
}
.tableandchair-image{
    padding-top: 126px;
   
}
.tableandchair-image__flex{
    padding-bottom: 60px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.search-function{
    padding-top: 60px;
    padding-bottom: 766px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-suggest{
    display: flex;
    align-items: center;
    gap: 16px;
}
.search-bar{
    display: flex;
    width: 690px;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.pay-title{
    padding-top: 90px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
}
.pay-discription {
    padding-bottom: 16px;
    justify-content: space-around;
    display: flex;
    border-bottom: 1px solid #C9CDD2;
}
.pay-order{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-bottom: 1px solid #C9CDD2;
}
.pay-order__left{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.pay-order__trash{
    height: 50px;
    width: 50px;
}
.pay-order__right{
    display: flex;align-items: center;
    gap: 145px;
}
.pay-area{
    padding-bottom: 223px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.pay-area__text{
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #C9CDD2;
    color: var(--foundation-black-white-black, #2A2A2A);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}
.pay-area__right{
    border-radius: 16px;
    padding: 24px;
    border: 1px solid #C9CDD2;
}
.pay-area__flex {
    border-bottom: 1px solid #C9CDD2;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}
.pay-area__button{
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
}
.pay-area__comment{
    border-radius: 16px;
    resize: horizontal;
    width: 801px;
    height: 264px;
    border: 1px solid var(--lines-gray-line, #E7E5EA);
    background: var(--bgbg-white, #FFF);
    color: var(--text-text, #7B88A8);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.delivery-flex{
    padding-bottom: 743px;
    gap: 30px;
    display: flex;
}
.delivery-left__title{
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.delivery-right__img{
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 550px;
    border-bottom: 1px solid #C9CDD2;

}
.delivery-right__discription{
    gap: 20.5px;
    display: flex;
    justify-content: space-between;
}
.delivery-left__box{
    padding-top: 16px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}
.delivery-left__phone{
    width: 397px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.delivery-left__name{
    width: 810px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.delivery-left__city{
    width: 259px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.delivery-left__address{
    width: 810px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.delivery-left__title2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.delivery-left__discription{
    padding-bottom: 30px;
}
.methods-box{
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    gap: 16px;
}
.delivery-left__button{
    display: flex;gap: 16px;
    padding-bottom: 266px;
}
.delivery-left__text {
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 30px;
    font-weight: bold;
    color: #CF2E2E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.delivery-left__document{

    display: flex;
    gap: 180px;
    padding-bottom: 16px;
    justify-content: space-between;
}
.youraccount-title{
    padding-bottom: 16px;
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}
.youraccount-right__button1{
    font-weight: bold;
    border: 1px solid #996935;
    color: #996935;
    display: flex;
    width: 330px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background-color: white;
}
.changeinfomation2-button{
    font-weight: bold;
    border: 1px solid #996935;
    color: #996935;
    display: flex;
    width: 330px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background-color: white;
}
.youraccount-right__box5{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 511px;
    display: flex;gap: 30px;
    justify-content: end;
}
.youraccount-right__button2{
    border: 1px solid #996935;
    color: white;
    display: flex;
    width: 330px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background: var(--Foundation-Primary-primary-500, #996935);
}
.youraccount-flex{
    padding-bottom: 526px;
    display: flex;gap: 30px;
}
.youraccount-right__img{
    display: flex;
    align-items: center;
    gap: 30px;
}
.youraccount-right__box1{
    padding-bottom: 16px;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}
.youraccount-right__fillbox{
    width: 434px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}.youraccount-right__box2{
    padding-bottom: 16px;
}
.youraccount-right__fillbox2{
    width: 898px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.youraccount-right__box3{
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.youraccount-right__fillbox3{
    width: 289px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.youraccount-right__box6{
    padding-bottom: 16px;
}
.youraccount-right__box4{
    height: 48px;
    width: 900px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
    background: var(--foundation-black-white-white, #FEFEFE);
}
.youraccount-text{
    padding-bottom: 8px;
    color: var(--foundation-black-white-black, #2E2E2E);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.purchasehistory-box__flex{
    gap: 16px;
    display: flex;
}
.purchasehistory-all{
    align-items: center;
    display: flex;
}
.changeinfomation2-img{
    border-bottom: 1px solid #C9CDD2;
    padding-bottom: 30px;
    padding-top: 30px;
}
.purchasehistory-2_button1{
    margin: 16px 0px;
    border: 1px solid #996935;
    color: white;
    display: flex;
    width: 210px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background: var(--Foundation-Primary-primary-500, #996935);
}
.news2-button1{
    margin: 16px 0px;
    border: 1px solid #996935;
    color: white;
    display: flex;
    width: 240px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background: var(--Foundation-Primary-primary-500, #996935);
}
.purchasehistory-2_button2{
    font-weight: bold;
    border: 1px solid #996935;
    color: #996935;
    display: flex;
    width: 210px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background-color: white;
}
.news2-button2{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: bold;
    border: 1px solid #996935;
    color: #996935;
    display: flex;
    width: 240px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background-color: white;
}
.favourite-padding{
    padding-bottom: 660px;
}
.purchasehistory-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.purchasehistory-text{
    color:  #8A929E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.youraccount-right__green{
    color: var(--Foundation-Green-green-500, #00D084);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.changeinfomation2-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changeinfomation2-button{   
     margin-left: auto;
}
.news-flex{
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    padding-bottom: 60px;
}
.news-trend{
    padding-top: 90px;
}
.new-box{
    padding-bottom: 30px;
}
.news-img{
    padding-bottom: 30px;
}
.news-title{
    width: 450px;
    padding-bottom: 12px;
    color: var(--foundation-black-white-black, #2E2E2E);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}
.new-discription{
    color: var(--foundation-black-white-black, #2E2E2E);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.news2-flex{
    display: flex;
}
.news2-flex__right{
    flex-shrink: 0;
}
.news2-flex2__title{
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
    
}
.align-unset{
    text-align: unset;
}
.news2-flex3{
    align-items: center;
    gap: 30px;
    display: flex;
}
