* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    background-color: #fff;
  }
  button{
    font-family: "Roboto", sans-serif;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  
  .container_center {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    @media (max-width: 1280px) {
      padding: 0 30px;
    }
  }
  
  .overflow {
    overflow: hidden;
  }

// .swiper-slide{
//   width: unset !important;
// }
.swiper-pagination {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px !important;
  @media (max-width:1280px) {
    bottom: 40px !important;
  }
  @media (max-width:990px) {
    bottom: 20px !important;
  }
  @media (max-width:576px) {
    bottom: 10px !important;
  }
  @media (max-width:480px) {
    bottom: 5px !important;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    opacity: 1 !important;
    border-radius: 0;
    transform: rotateZ(45deg);
    margin: 0 22px !important;
    position: relative;
    @media (max-width:1280px) {
      width: 10px;
      height: 10px;
    }
    @media (max-width:990px) {
      width: 7px;
      height: 7px;
      margin: 0 15px !important;
    }
    @media (max-width:576px) {
      width: 5px;
      height: 5px;
      margin: 0 10px !important;
    }
    &.swiper-pagination-bullet-active {
    background-color: var(--primary);
      &::before {
        content: '';
        display: block;
        width: 42px;
        height: 42px;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        position: absolute;
        top: -16px;
        left: -16px;
        @media (max-width:1280px) {
          width: 35px;
          height: 35px;
          top: -13px;
          left: -13px;
        }
        @media (max-width:990px) {
          width: 25px;
          height: 25px;
          top: -10px;
          left: -10px;
        }
        @media (max-width:575px) {
          width: 20px;
          height: 20px;
          top: -9px;
          left: -9px;
        }
        @media (max-width:375px) {
          width: 16px;
          height: 16px;
          top: -7px;
          left: -7px;
        }
      }
    }
  }
}
h2 {
    font-size: 24px;
}
h3 {
  color: var(--foundation-black-white-black, #2E2E2E);
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 54px */
}
h4 {
  color: var(--Foundation-Grey-grey-500, #8A929E);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

h5 {
  color: var(--Foundation-Grey-grey-400, #A1A8B1);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
}
