* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container_center {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (max-width: 1280px) {
  .container_center {
    padding: 0 30px;
  }
}

.overflow {
  overflow: hidden;
}

.swiper-pagination {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px !important;
}
@media (max-width: 1280px) {
  .swiper-pagination {
    bottom: 40px !important;
  }
}
@media (max-width: 990px) {
  .swiper-pagination {
    bottom: 20px !important;
  }
}
@media (max-width: 576px) {
  .swiper-pagination {
    bottom: 10px !important;
  }
}
@media (max-width: 480px) {
  .swiper-pagination {
    bottom: 5px !important;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  opacity: 1 !important;
  border-radius: 0;
  transform: rotateZ(45deg);
  margin: 0 22px !important;
  position: relative;
}
@media (max-width: 1280px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 990px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 15px !important;
  }
}
@media (max-width: 576px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin: 0 10px !important;
  }
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: -16px;
}
@media (max-width: 1280px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 35px;
    height: 35px;
    top: -13px;
    left: -13px;
  }
}
@media (max-width: 990px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 25px;
    height: 25px;
    top: -10px;
    left: -10px;
  }
}
@media (max-width: 575px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 20px;
    height: 20px;
    top: -9px;
    left: -9px;
  }
}
@media (max-width: 375px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 16px;
    height: 16px;
    top: -7px;
    left: -7px;
  }
}

h2 {
  font-size: 24px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.header_wrapper .navigation {
  display: flex;
  gap: 24px;
}
.header_wrapper .navigation > li {
  padding: 12px 16px;
}
.header_wrapper .navigation > li > a {
  color: black;
}
.header_wrapper .navigation > li:hover > a {
  color: #FCB900;
}
.header_wrapper .header-right {
  display: flex;
  align-items: center;
  gap: 6px;
  gap: 18px;
}
.header_wrapper .header-right .accout {
  display: flex;
  gap: 12px;
}

footer {
  padding-top: 40px;
  background-color: #746A61;
}
footer .footer-wrapper {
  color: white;
}
footer .footer-wrapper .footer-htwoods {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .footer-htwoods .footer-htwoods__showroom {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-htwoods .footer-htwoods__phone {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-htwoods .footer-htwoods__mail {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-services {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .footer-support {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .footer-content {
  padding-bottom: 112px;
  display: flex;
  gap: 126px;
}
footer .footer-wrapper .footer-bottom {
  display: flex;
  justify-content: center;
  gap: 24px;
}
footer .footer-wrapper .footer-bottom .footer-bottom__location {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-bottom .footer-bottom__copyright {
  white-space: nowrap;
  display: flex;
  gap: 12px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-social__icons {
  display: flex;
  gap: 24px;
}

.footer-bottom {
  padding-bottom: 20px;
}

.section-background {
  color: white;
  background-image: url(/img/background.png);
  background: url(<path-to-image>) lightgray 50%/cover no-repeat, #D9D9D9;
}

.section-background__button {
  color: white;
  display: flex;
  width: 240px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  background: var(--Foundation-Primary-primary-500, #514539);
}

.section-background__group {
  transform: translateX(50%);
  padding: 260px 0 260px 0;
}
.section-background__group .section-background__discription {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  padding-bottom: 16px;
}
.section-background__group .section-background__title {
  width: 690px;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 90px */
  text-transform: uppercase;
  padding-bottom: 30px;
}

.section-index__title {
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.section-index__title .section-index__buttons {
  display: flex;
  gap: 30px;
}

.section-index__img {
  display: flex;
}

.section-aboutus {
  background-image: url(/img/image\ 44.png);
}

.section-discription__title {
  text-decoration: underline;
}

.section-discription__button {
  display: flex;
  width: 240px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  background: var(--Foundation-Primary-primary-500, white);
}

.section-aboutus__discription {
  width: 930px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--foundation-black-white-white, #FEFEFE);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
}/*# sourceMappingURL=style.css.map */