* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #fff;
}

button {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container_center {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (max-width: 1280px) {
  .container_center {
    padding: 0 30px;
  }
}

.overflow {
  overflow: hidden;
}

.swiper-pagination {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px !important;
}
@media (max-width: 1280px) {
  .swiper-pagination {
    bottom: 40px !important;
  }
}
@media (max-width: 990px) {
  .swiper-pagination {
    bottom: 20px !important;
  }
}
@media (max-width: 576px) {
  .swiper-pagination {
    bottom: 10px !important;
  }
}
@media (max-width: 480px) {
  .swiper-pagination {
    bottom: 5px !important;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  opacity: 1 !important;
  border-radius: 0;
  transform: rotateZ(45deg);
  margin: 0 22px !important;
  position: relative;
}
@media (max-width: 1280px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 990px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 15px !important;
  }
}
@media (max-width: 576px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin: 0 10px !important;
  }
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: -16px;
}
@media (max-width: 1280px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 35px;
    height: 35px;
    top: -13px;
    left: -13px;
  }
}
@media (max-width: 990px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 25px;
    height: 25px;
    top: -10px;
    left: -10px;
  }
}
@media (max-width: 575px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 20px;
    height: 20px;
    top: -9px;
    left: -9px;
  }
}
@media (max-width: 375px) {
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    width: 16px;
    height: 16px;
    top: -7px;
    left: -7px;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  color: var(--foundation-black-white-black, #2E2E2E);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 54px */
}

h4 {
  color: var(--Foundation-Grey-grey-500, #8A929E);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

h5 {
  color: var(--Foundation-Grey-grey-400, #A1A8B1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.header_wrapper .navigation {
  display: flex;
  gap: 24px;
}
.header_wrapper .navigation > li {
  padding: 12px 16px;
}
.header_wrapper .navigation > li > a {
  color: black;
}
.header_wrapper .navigation > li:hover > a {
  color: #FCB900;
}
.header_wrapper .header-right {
  display: flex;
  align-items: center;
  gap: 6px;
  gap: 18px;
}
.header_wrapper .header-right .accout {
  display: flex;
  gap: 12px;
}

footer {
  padding-top: 40px;
  background-color: #AD875D;
}
footer .footer-wrapper {
  color: white;
}
footer .footer-wrapper .footer-htwoods {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .footer-htwoods .footer-htwoods__showroom {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-htwoods .footer-htwoods__phone {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-htwoods .footer-htwoods__mail {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-services {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .footer-support {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .footer-content {
  padding-bottom: 112px;
  display: flex;
  gap: 126px;
}
footer .footer-wrapper .footer-bottom {
  display: flex;
  justify-content: center;
  gap: 24px;
}
footer .footer-wrapper .footer-bottom .footer-bottom__location {
  display: flex;
  gap: 12px;
}
footer .footer-wrapper .footer-bottom .footer-bottom__copyright {
  white-space: nowrap;
  display: flex;
  gap: 12px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-social__icons {
  display: flex;
  gap: 24px;
}

.footer-bottom {
  padding-bottom: 20px;
}

.section-background {
  color: white;
  background-image: url(/img/background.png);
  background: url(/img/background.png) lightgray 50%/cover no-repeat, #D9D9D9;
}

.section-background__button {
  color: white;
  display: flex;
  width: 240px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  background: var(--Foundation-Primary-primary-500, #996935);
}

.section-background__group {
  transform: translateX(50%);
  padding: 260px 0 260px 0;
}
.section-background__group .section-background__discription {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  padding-bottom: 16px;
}
.section-background__group .section-background__title {
  width: 690px;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 90px */
  text-transform: uppercase;
  padding-bottom: 30px;
}

.section-hot {
  padding-top: 60px;
}

.section-hot__image {
  display: flex;
  flex-wrap: wrap;
}

.section-index {
  padding-top: 60px;
}

.section-index__title {
  padding-bottom: 30px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.section-index__title .section-index__buttons {
  display: flex;
  gap: 30px;
}

.section-index__img {
  padding-bottom: 60px;
  display: flex;
  gap: 30px;
}

.section-aboutus {
  height: 600px;
  background-image: url(/img/image\ 44.png);
}

.product-box__button {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.section-discription__title {
  border-bottom: 1px solid #996935;
  padding-top: 76px;
  padding-bottom: 16px;
}

.section-discription__button {
  border-color: #996935;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #996935;
  display: flex;
  width: 240px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  background: var(--Foundation-Primary-primary-500, white);
}

.section-box__discription {
  color: #8A929E;
}

.section-aboutus__discription {
  transform: translate(25%, 25%);
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 930px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--foundation-black-white-white, #FEFEFE);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
}

.section-hot__img {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.section-hot__title {
  padding-bottom: 30px;
  text-align: center;
}

.section-news {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-news__discription {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}

.section-box__title {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--foundation-black-white-black, #2E2E2E);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.section-news__title {
  padding-bottom: 30px;
}

.product-menu {
  display: flex;
  gap: 12px;
}

.section-product__menu {
  display: flex;
  gap: 12px;
}

.product-box__title {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #C9CDD2;
}

.product-box__left {
  min-width: 350px;
}

.product-box {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}

.product-box__select {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.product-box__check {
  display: flex;
  gap: 16px;
  padding-right: 150px;
}

.tableandchair-flex {
  display: flex;
  gap: 30px;
}

.tableandchair-right__code {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.tableandchair-right__img {
  padding-bottom: 30px;
}

.right-properties__title {
  color: var(--foundation-black-white-black, #2E2E2E);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.right-properties__buttons {
  color: white;
  display: flex;
  width: 240px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  border: 1px solid var(--Foundation-Primary-primary-500, #996935);
  background: var(--Foundation-Primary-primary-400, #AD875D);
}

.right-properties__flex {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 30px;
}

.tableandchair-detail__title {
  color: var(--foundation-black-white-black, #2E2E2E);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.tableandchair-left__small {
  padding-top: 30px;
  display: flex;
  gap: 25px;
}

.tableandchair-image {
  padding-top: 126px;
}

.tableandchair-image__flex {
  padding-bottom: 60px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.search-function {
  padding-top: 60px;
  padding-bottom: 766px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-suggest {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-bar {
  display: flex;
  width: 690px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
  background: var(--foundation-black-white-white, #FEFEFE);
}

.pay-title {
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  color: var(--foundation-black-white-black, #2E2E2E);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}

.pay-discription {
  padding-bottom: 16px;
  justify-content: space-around;
  display: flex;
  border-bottom: 1px solid #C9CDD2;
}

.pay-order {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-bottom: 1px solid #C9CDD2;
}

.pay-order__left {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.pay-order__trash {
  height: 50px;
  width: 50px;
}

.pay-order__right {
  display: flex;
  align-items: center;
  gap: 145px;
}

.pay-area {
  padding-bottom: 223px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.pay-area__text {
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #C9CDD2;
  color: var(--foundation-black-white-black, #2A2A2A);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

.pay-area__right {
  border-radius: 16px;
  padding: 24px;
  border: 1px solid #C9CDD2;
}

.pay-area__flex {
  border-bottom: 1px solid #C9CDD2;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.pay-area__button {
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
  display: flex;
}

.pay-area__comment {
  border-radius: 16px;
  resize: horizontal;
  width: 801px;
  height: 264px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.delivery-flex {
  display: flex;
}

.delivery-left__title {
  color: var(--foundation-black-white-black, #2E2E2E);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.delivery-right__img {
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 550px;
  border-bottom: 1px solid #C9CDD2;
}

.delivery-right__discription {
  gap: 20.5px;
  display: flex;
  justify-content: space-between;
}

.delivery-left__box {
  padding-top: 16px;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.delivery-left__phone {
  width: 397px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
  background: var(--foundation-black-white-white, #FEFEFE);
}

.delivery-left__name {
  width: 810px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
  background: var(--foundation-black-white-white, #FEFEFE);
}

.delivery-left__city {
  width: 259px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
  background: var(--foundation-black-white-white, #FEFEFE);
}

.delivery-left__address {
  width: 810px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Foundation-Grey-grey-200, #C9CDD2);
  background: var(--foundation-black-white-white, #FEFEFE);
}

.delivery-left__title2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.delivery-left__discription {
  padding-bottom: 30px;
}

.methods-box {
  align-items: center;
  padding-top: 16px;
  padding-bottom: 30px;
  display: flex;
  gap: 16px;
}

.delivery-left__button {
  display: flex;
  gap: 16px;
  padding-bottom: 266px;
}/*# sourceMappingURL=style.css.map */